label {
    font-size: 30px;
    font-family: 'Play', sans-serif;
}
.container-div{
    width: 100vw;
    height: 100vh;
    background-image: url(../img/chicoarcade_3840x2160.jpg);
    background-size: cover;
}

.formulario {
    width: 50vw;
    margin-top: 5vh;
    margin-left: 16px;
    display: inline-block;
    background-color: rgba(56, 245, 255, 0.456);
}

.contenedor-name {
    display: flex;
}

.nameInput {
    height: 30px;
    width: auto;
}

.contenedor-description {
    display: flex;
}

.nameDescrip {
    height: 50px;
    width: 500px;
}
.contenedor-released {
    display: flex;
}

.nameReleased {
    height: 30px;
}
.contenedor-rating {
    display: flex;
}

.nameRating {
    height: 30px;
}
.contenedor-image {
    display: flex;
}

.nameImage {
    height: 30px;
    width: 500px;
}
.contenedor-platforms {
    display: flex;
}
.contenedor-genres {
    display: flex;
}
.contenedor-submit {
    display: flex;
}

.submit {
    background-color: aquamarine;
}
.meRegreso {
    background-color: aquamarine;
}

.submit:hover {
    background-color: rgb(9, 213, 145);
}
.meRegreso:hover {
    background-color: rgb(7, 215, 145);
}

.error-name {
    color: rgb(250, 50, 50);
    background-color: rgb(255, 187, 0);
    font-family: 'Play', sans-serif;
    margin-left: 10px;
    font-size: 25px;
   
}

.error-description {
    color: rgb(250, 50, 50);
    background-color: rgb(255, 187, 0);
    font-family: 'Play', sans-serif;
    margin-left: 10px;
    font-size: 25px;
}

.error-released {
    color: rgb(250, 50, 50);
    background-color: rgb(255, 187, 0);
    font-family: 'Play', sans-serif;
    margin-left: 10px;
    font-size: 25px;
}

.error-rating {
    color: rgb(250, 50, 50);
    background-color: rgb(255, 187, 0);
    font-family: 'Play', sans-serif;
    margin-left: 10px;
    font-size: 25px;
}

.error-platforms {
    color: rgb(250, 50, 50);
    background-color: rgb(255, 187, 0);
    font-family: 'Play', sans-serif;
    margin-left: 10px;
    font-size: 25px;
}

.error-genres {
    color: rgb(250, 50, 50);
    background-color: rgb(255, 187, 0);
    font-family: 'Play', sans-serif;
    margin-left: 10px;
    font-size: 25px;
}