.button-backToVideogames {
    display: block;
    margin-left: 10vw;
    font-family: 'Play', sans-serif;
    font-size: 25px;
    height: 45px;
    width: 300px;
    margin-top: 10px;

    background-color: rgb(255, 110, 7);
    border-style: solid;
    border-color: rgb(255, 110, 7);
    cursor:pointer;
}


.container-description {
    width: 80vw;
    height: 80vh;
    margin-top: 15px;
    margin-left: 10vw;
    display: flex;
    border-radius: 2px;
    color: #0fa
}

.imagen-container {
    width: 50%;
    height: 100%;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.629);
    border-style: double;
    border-color:rgba(0, 0, 0, 0.629); ;
}
.class-imagen2 {
    max-width: 35vw;
    border-radius: 5px;
}

.h3-container-h3 {
    width: 50%;
    height:100%;
    display: inline-block;
    justify-content: center;
    text-align: left;
    padding: 10px;
    background-color: rgba(0, 255, 128, 0.623);
    border-style: double;
    border-color: rgba(0, 255, 128, 0.623);
    color: #fff;
    font-family: 'Play', sans-serif;
    font-size: 15px;
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #0fa,
      0 0 82px #0fa,
      0 0 92px #0fa,
      0 0 102px #0fa,
      0 0 151px #0fa
}

.button-backToVideogames:hover {
    background-color: orange;
    border-style: solid;
    border-color: orange
}