.navBar {
       background: linear-gradient(90deg, rgba(255,146,29,1) 0%, rgba(241,255,0,1) 54%, rgba(255,162,0,1) 89%);
       font-family: 'Play', sans-serif;
       border-style: groove;
       
       border-color: black;
}

.button-backToLanding {
    display: inline-block;
    width: 8vw;
    margin-right: 10px;
    font-family: 'Play', sans-serif;
    background-color: rgba(249, 206, 52, 0.5);
    cursor: pointer;
}
.button-crearVideogame{
    display: inline-block;
    width: 8vw;
    margin-right: 10px;
    font-family: 'Play', sans-serif;
    background-color: rgba(249, 206, 52, 0.3);
    cursor: pointer;
}

.titulo {
    display: inline-block;
    font-size: 40px;
    width: 30vw;
}


.class-order {
    display: inline-block;
    width: 8vw;
    margin-right: 10px;
    font-family: 'Play', sans-serif;
    background-color: rgba(249, 206, 52, 0.3);
    cursor: pointer;
}

.class-rating {
    display: inline-block;
    width: 8vw;
    font-family: 'Play', sans-serif;
    background-color: rgba(249, 206, 52, 0.2);
    cursor: pointer;
}

.los_filtros {
    display: inline-block;
    height: 30px;
}

.filtroPlat {
    width: 200px;
    background-color: rgba(249, 206, 52, 0.4);
    font-family: 'Play', sans-serif;
    cursor: pointer;
}

.filtroGen {
    width: 200px;
    background-color: rgba(249, 206, 52, 0.3);
    font-family: 'Play', sans-serif;
    cursor: pointer;
}

.formu {
    display: inline-block;
}

.elInput {
    font-family: 'Play', sans-serif;
    width: 250px;
    background-color: rgba(249, 206, 52, 0.3);
}

.elbotonInput {
    background-color: rgba(249, 206, 52, 0.2);
    cursor: pointer;
}