.style-containerGrid{
    display: grid;
    text-align: center;
    /*align-items: center;*/
    margin-top: 5vh;
    margin-left: 9.5vw;
    margin-right: 9.5vw;
    grid-template-columns: 27vw 27vw 27vw;
    row-gap: 50px;
    column-gap: 20px;
    background-size: cover;
}

.loading {
    display: block;
    position: absolute;
    margin-left: 35vw;
    margin-right: 35vw;
    text-align: center;
}

.loading_games {
    font-family: 'Play', sans-serif;
    color: rgb(255, 26, 194);
}

.creditos {
    color: white
}