.style-containerGrid{
    display: grid;
    text-align: center;
    /*align-items: center;*/
    margin-left: 5vw;
    margin-right: 5vw;
    grid-template-columns: 30vw 30vw 30vw;
    /*background-color: rgb(89, 0, 0);*/
    /*display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;*/
    /*background-image: url(../img/wallpaperflare.com_wallpaper.jpg);*/
    background-size: cover;
}